.facebookSection {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(../img/fbBg.webp);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.facebookSection p {
  margin-bottom: 30px;
}

/* Responsivity */

@media only screen and (max-width: 900px) {
  .facebookSection iframe {
    width: 90%;
  }
}
