.gallerySection {
  width: 100%;
  padding: 40px 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/img/galleryBg.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  color: #fff;
}

/* Responsivity */

@media only screen and (max-width: 900px) {
  .gallerySection {
    padding: 40px 0;
  }

  .gallerySlider {
    width: 90%;
  }
}
