.welcomeSection {
  width: 100%;
  height: 100vh;
  background-image: url('../img/bg1.webp');
  background-position: center;
  background-size: cover;
}

/* Navbar */

.myNavbar {
  width: 100%;
  height: 90px;
  position: absolute;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarInfo {
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.navbarInfoLine {
  display: flex;
  align-items: center;
  color: #fff;
}

.navbarInfoText {
  margin-left: 15px;
  font-size: 14px;
  font-weight: 300;
}

.navbarBtns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbarBtns button {
  display: none;
  background-color: transparent;
  border: none;
  color: #fff;
}

.navbarBtn {
  margin: 0 0 0 35px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}

.navbarBtn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Content */

.welcomeContent {
  height: 100vh;
  padding-top: 15%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.line {
  width: 70%;
  height: 1px;
  margin: 35px 0 15px 0;
  background-color: #fff;
}

.welcomeBtn {
  padding: 16px 78px;
  font-size: 22px;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  background-color: #cd0030;
  transition: all ease-in-out 0.2s;
}

.welcomeBtn:hover {
  transform: scale(1.04);
  background-color: #b10029;
}

.welcomeBtn:active {
  transform: scale(0.98);
}

/* Quotes */

.quoteSlider {
  width: 50%;
  margin: 25px 0 50px 0;
}

.quoteSlide {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  font-weight: 300;
  font-size: 20px;
}

.quoteAuthor {
  font-weight: 200;
  font-size: 16px;
}

/* Responsivity */

@media only screen and (max-width: 900px) {
  .navbarInfo {
    display: none;
  }

  .myNavbar {
    padding: 0 30px;
    justify-content: flex-end;
  }

  .navbarBtns button {
    display: flex;
  }

  .navbarBtn {
    display: none;
  }

  .line {
    width: 80%;
    height: 1px;
    margin: 25px 0 10px 0;
    background-color: #fff;
  }

  .welcomeBtn {
    padding: 16px 58px;
    font-size: 18px;
  }

  .quoteSlider {
    width: 75%;
  }

  .quote {
    font-size: 18px;
  }

  .quoteAuthor {
    font-size: 14px;
  }
}
