@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a:hover {
  text-decoration: none !important;
  color: #fff !important;
}

html {
  scroll-behavior: smooth;
  background-color: black;
}

h1 {
  font-size: 56px !important;
  font-weight: 600;
}

h2 {
  font-size: 50px !important;
  font-weight: 400;
}

h3 {
  font-size: 40px !important;
  font-weight: 600;
}

p {
  font-size: 18px !important;
  font-weight: 300;
}

/* Responsivity */

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 42px !important;
  }

  h2 {
    width: 70%;
    font-size: 36px !important;
    font-weight: 400 !important;
  }

  h3 {
    font-size: 30px !important;
  }

  p {
    font-size: 14px !important;
  }
}
